extends ../templates/html.tpl.pug

block content
	.container
		.row.mb-0
			.col
				.logo
					img(src='assets/images/logo.svg', width='225', height='25', alt='Logo')
					div.font-weight-bold Создадим творческое настроение вместе!
		.row
			.col-lg-6
				.card#lead
					h1 Muzzmania LLC ищет front-end и&nbsp;back-end разработчиков для реализации проекта
					
					p Наши условия:
					
					ul
						li Крупный проект с&nbsp;большими перспективами для разработчиков 
						li Удаленная работа&nbsp;&mdash; выгодный вариант на&nbsp;летнее время
						li Своевременная оплата с&nbsp;бонусами за&nbsp;&laquo;новаторские решения&raquo;
						li Дальнейшее сотрудничество по&nbsp;многим проектам
			
			.col-lg-6.pr-0#artist-1
				img.img-fluid(src="assets/images/artist-1.jpg" alt="Artist" width="790" height="1053")

		.row
			.col-lg-6
				.card
					h2 Для front-end
						br
						| разработчика

					p обязательны отличные знания: 
					p.mt-4 CSS, HTML5, JavaScript, Vue.js/Angular/React, PWA/SPA, jQuery, Ajax, Git, Adobe Photoshop

			.col-lg-6
				.card
					h2 Для back-end
						br
						| разработчика

					p обязательны отличные знания: 
					p.mt-4 Python/C#/PHP7/Ruby, Django/.NET/пр., Git, базы данных, MySQL

		.row
			.col-lg-6
				img.img-fluid(src="assets/images/artist-2.jpg" alt="Artist" width="748" height="639")

			.col-lg-6
				.card
					p Если ты&nbsp;обладаешь всеми необходимыми навыками, а&nbsp;также: 
					ul
						li работал в&nbsp;сложных высоконагруженных проектах
						li умеешь работать в&nbsp;команде и&nbsp;чётко осознаешь сроки реализации
						li умеешь писать аккуратный код и&nbsp;внимателен к&nbsp;мелочам 
						li эффективно решаешь поставленные задачи, находишь альтернативные решения
						li можешь довести работу до&nbsp;конца и&nbsp;нести ответственность за&nbsp;качество
						li с&nbsp;вдохновением и&nbsp;энтузиазмом относишься к&nbsp;своему делу

					p направляй своё резюме на&nbsp;
						a(href="mailto:muzzmania.job@gmail.com") muzzmania.job@gmail.com

	
		
		footer.row.text-center
			.col
				p.mb-4 Наши партнёры:

				#patners
					img.img-fluid(src="assets/images/partners.gif" alt="partners" width="473" height="90")


				address
					p.font-weight-bold Muzzmania&nbsp;LLC&nbsp;/ ООО&nbsp;Муззмания

					p ИНН 7736285164, ОГРН 5167746426106 

					p Адрес: 
						span.font-weight-bold 119333 г.&nbsp;Москва, Ленинский проспект,&nbsp;52

				p.disclaimer Дорогие друзья, наша компания впервые ищет сотрудников и&nbsp;не&nbsp;имеет никакого отношения к&nbsp;одноименной российской компании, работающей в&nbsp;другой сфере деятельности.






